@import "nativescript-theme-core/css/core.light.css";

.btn-primary {
  height: 50;
  background-color: #03297B;
  border-radius: 5;
  font-size: 20;
  font-weight: 600;
}
.btn-facebook {
  height: 50;
  background-color: #3b5998;
  border-radius: 5;
  font-size: 20;
  font-weight: 600;
  color: aliceblue;
}
.btn-primary:disabled {
  opacity: 0.5;
}